@* 用CDN的方式載入signalr.js *@
<script src="~/js/signalr.js"></script>
<script>
    //設定SignalR的連線資訊
    var connection = new signalR.HubConnectionBuilder().withUrl("/sampleHub").build();
    //與Server建立連線
    connection.start()

    //開啟ReceiveMessage的通道，Server只要呼叫ReceiveMessage，這邊就會接著執行function
    connection.on("ReceiveMessage", function (user, message) {
        ContentObj = document.getElementById("Content")
        ContentObj.innerHTML += user + "/" + message + "<br>"
    });


    function SendMsg() {
        User = document.getElementById("UserIn").value;
        Msg = document.getElementById("MsgIn").value;

        //呼叫Hub中的SendMessage方法，並傳入參數（參數數量要相等，不然會報錯）
        connection.invoke("SendMessage", User, Msg).catch(function (err) {
            return console.error(err.toString());
        });

    }

</script>

<h1> This is SignalR Client 2 Page</h1>

<input value="User" id="UserIn">
<input value="Message" id="MsgIn">
<button onclick="SendMsg()">Send!</button>
<br>
<h1>Receive Msg</h1>
<div id="Content"></div>


